@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Nevoweb.RocketFormMVC.Components.MvcData>

<script type="text/javascript" src="/DesktopModules/DNNrocket/Simplisity/js/simplisity.js"></script>
<link rel="stylesheet" href="/DesktopModules/DNNrocket/css/w3.css">
<link rel="stylesheet" href="/DesktopModules/DNNrocket/Simplisity/css/simplisity.css">
<link rel="stylesheet" href="/DesktopModules/DNNrocket/API/Themes/config-w3/1.0/css/dnn-theme.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
    .material-icons {
        vertical-align: middle;
    }
</style>

<div id="simplisity_startpanel" class="simplisity_panel">
    @Html.Raw(Model.GetSetting("mvc_settings"))
</div>

<div class=" simplisity_loader " style="display: none;"><div class="simplisity_loader_inner"></div></div>

