@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Nevoweb.RocketDirectoryMVC.Components.MvcData>

<div id="simplisity_startpanel" class="simplisity_panel">
    @Html.Raw(Model.GetSetting("mvc_adminpanel"))
</div>
